protocol bfd bfd1 {
    interface "e*.*" {
        min rx interval {{ bfd.min_rx_interval }} ms;
        min tx interval {{ bfd.min_tx_interval }} ms;
        multiplier {{ bfd.multiplier }};
    };
}
