log syslog all;

timeformat base     iso long;
timeformat log      iso long;
timeformat protocol iso long;
timeformat route    iso long;

router id {{ router_id }};

protocol kernel {
    scan time 20;
    device routes;
    learn on;
{% if hostname == "eunetworks-2.router.nl.coloclue.net" %}
    export filter {
        if proto = "blackhole1" then reject;
        accept;
    };
{% else %}
    export all;
{% endif %}
}

protocol device {
    scan time 2;
}

define rejected_route = 7;              # bgp community 8283:7:* are reject reasons
define r_coloclue_morespecific = 1;     # A coloclue more specific 
define r_bogon_aspath = 2;              # a Bogon ASN appeared somewhere in the AS_PATH
define r_bogon_prefix = 3;              # The prefix is a Bogon
define r_rpki_invalid = 4;              # The prefix is an RPKI invalid
define r_unacceptable_pfxlen = 5;       # The route has an unacceptable large or small prefix length
define r_no_irr = 6;                    # No IRR object covers the route
define r_member_not_auth = 7;           # Coloclue member is not authorized to announce this

include "interfaces.conf";

include "bfd.conf";

{% if rpki.validation %}
include "rpki/rpki-{{ afi }}.conf";

{% endif %}
include "static_routes-{{ afi }}.conf";

include "{{ afi }}_filters.conf";

include "generic_filters.conf";

include "ospf.conf";

include "ibgp-{{ afi }}.conf";
