log syslog all;

timeformat base     iso long;
timeformat log      iso long;
timeformat protocol iso long;
timeformat route    iso long;

router id {{ router_id }};

protocol kernel {
    scan time 20;
    learn off;
    {{ afi }} {
        import none;
        export where source != RTS_DEVICE;
    };
}

protocol device {
    scan time 2;
}

define ixp_route = 8;                   # 8283:8:* contain the peeringdb IXP id
define rejected_route = 7;              # bgp community 8283:7:* are reject reasons
define r_coloclue_morespecific = 1;     # A coloclue more specific 
define r_bogon_aspath = 2;              # a Bogon ASN appeared somewhere in the AS_PATH
define r_bogon_prefix = 3;              # The prefix is a Bogon
define r_rpki_invalid = 4;              # The prefix is an RPKI invalid
define r_unacceptable_pfxlen = 5;       # The route has an unacceptable large or small prefix length
define r_no_irr = 6;                    # No IRR object covers the route
define r_member_not_auth = 7;           # Coloclue member is not authorized to announce this

include "interfaces.conf";

include "bfd.conf";

{% if rpki.validation %}
include "/var/lib/rpki-client/bird";
{% if rpki['whitelist'][afi] is not none -%}
include "rpki/rpkiwhitelist-{{ afi }}.conf";
{% endif %}

{% endif %}
include "static_routes-{{ afi }}.conf";

include "{{ afi }}_filters.conf";

include "generic_filters.conf";

include "ospf-{{ afi }}.conf";

include "ibgp-{{ afi }}.conf";

include "scrubber-{{ afi }}.conf";
