protocol direct {
    {{ afi }};

    # backbone
    {%- for interface in interfaces['backbone'] %}
    interface "{{ interface.nic }}";
    {%- endfor %}

    # external facing interfaces
    {%- for interface in interfaces['external'] %}
    interface "{{ interface.nic }}";
    {%- endfor %}
}
