protocol ospf ospf1 {
    import filter loopbacks_and_connected;
    export filter loopbacks_and_connected;
    area 0.0.0.0 {
{%- for interface in interfaces['backbone'] %}
{%- if interface.nic == 'lo' %}
        interface "{{ interface.nic }}";
{%- else %}
        interface "{{ interface.nic }}" {
{%- if 'maintenance_mode' in bgp[shortname] %}
{%- if bgp[shortname]['maintenance_mode'] %}
            cost 65535;
{%- endif %}
{%- endif %}
            type pointopoint;
{%- if 'bfd' in interface -%}
{% if interface['bfd'] %}
            bfd on;
{%- endif %}
{%- endif %}
        };
{%- endif %}
{%- endfor %}
    };
}
