{%- if afi == "ipv4" %}
protocol ospf v2 ospf1 {
{%- elif afi == "ipv6" %}
protocol ospf v3 ospf1 {
{%- endif %}
    {{ afi }} {
        import all;
        export filter ospf_export;
    };
    area 0.0.0.0 {
{%- for interface in interfaces['backbone'] %}
	{%- if interface.nic == 'lo' %}
        interface "{{ interface.nic }}";
	{%- else %}
        interface "{{ interface.nic }}" {
		{%- if 'maintenance_mode' in bgp[shortname] and bgp[shortname]['maintenance_mode'] %}
            cost 65535;
		{%- elif 'maintenance' in interface and interface['maintenance'] %}
            cost 65535;
		{%- elif 'cost' in interface %}
            cost {{ interface.cost }};
		{%- else %}
            cost {{ ospf.default_cost }};
		{%- endif %}
            type pointopoint;
		{%- if 'bfd' in interface -%}
			{% if interface['bfd'] %}
            bfd on;
			{%- endif %}
		{%- endif %}
        };
	{%- endif %}
{%- endfor %}
    };
}
